h1= title
p Welcome to my personal site.
p I'm still working on a good presentation...
p Thanks for stopping by!

p(sylte="bottom:0;")
  | Meanwhile you can follow me and my work:
ul
  li 
    a(href="http://github.com/cristiandouce", target="_blank") github
  li
    a(href="http://twitter.com/cristiandouce", target="_blank") Twitter
  li
    a(href="http://ar.linkedin.com/in/cristiandouce", target="_blank") LinkedIn